#projects-container{
    width: 60vw;
    margin: auto;
    border: 1px solid black;
    min-height: 60vh;
}


.flex-vert-center{
    display: flex;
    height: 100vh;
    justify-content: center;
}

.flex-center{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.square-20-vw{
    border: 1px solid red;
    width: 20vw;
    height: 20vw;
}


.margin-10{
    margin: 10px
}

/* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */

.hover-blue:hover{
    box-shadow: inset 0 0 10px blue;
}